<div id="header">
    <div class="topbar fl">
        <div class="logo fl">
            <a href="http://vinaphone.com.vn">
                <img src="{DNS}/images/vinaphone.png" alt="" title="" /></a>
        </div>
        <div class="phone fr">
            <p>
                <img src="{DNS}/images/icon_phone.png" alt="" title="" />{3}</p>
        </div>
    </div>
    <div class="banner fl">
        <img src="{DNS}/images/banner.gif" alt="" title="" />
    </div>
    <div class="navigation fl">
        <ul>
            <li><a class="{0}" href="{DNS}">Trang chủ</a></li>
            <li><a class="{1}" href="{DNS}/page/service.html" rel="nofollow">Dịch vụ</a></li>
            <li><a class="{2}" href="{DNS}/page/guide.html" rel="nofollow">Hướng dẫn</a></li>
        </ul>
    </div>
</div>
<div class="clear">
</div>
