<div class="register_package fl">
    <div class="register_package_in">
        <div class="box_package fl">
            <div class="title_register">
                <h3>
                    Đăng ký gói cước</h3>
            </div>
            <div class="image_package fl">
                <img src="{DNS}/images/goi-cuoc.jpg" alt="" title="" />
            </div>
            <div class="note fl">
                <p>
                    Miễn phí sử dụng <span class="red">1 ngày</span> khi đăng ký lần đầu tiên. mTraffic cổng thông tin giao thông của mọi người.</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="clear">
</div>
<!--footer-->
<div id="footer">
    <div class="copy_right fl">
        <p>
            Copyright © 2013 by VinaPhone<br />
            All rights reserved</p>
    </div>
</div>
<div class="clear">
</div>
</div> </div>
<!--end main-->
</body> </html> 