<div class="content fl">
    <div class="detail_content fl">
        <div class="title_detail">
            <h1>
                Giới thiệu và hướng dẫn sử dụng dịch vụ Mtraffic</h1>
        </div>
        <div class="newdetail">
            <div class="newdetail_in fl">
                <p>
                    <strong>Giới thiệu</strong><br />
                    <strong>Dịch vụ mTraffic - Tổng đài giao thông của mọi người</strong><br />
                    Mtraffic (Mobile Traffic) là dịch vụ cho phép khách hàng từ điện thoại di động truy cập các dịch vụ tin tức giao thông mang tính thời sự, giải đáp các thắc mắc về luật giao thông, Tư vấn giúp khách hàng đổi bằng lái xe, thi lấy bằng lái, các vụ tai nạn giao thông và những vụ án hình sự nổi cộm khác. Ngoài ra, dịch vụ còn cung cấp đến khách hàng các chuyên mục về khám phá từng con đường của thành phố, chuyên mục hỏi đáp giao thông…. Với phương châm mang đến cho khách hàng một dịch vụ giao thông đa dạng, phong phú về nội dung và hình thức - Tổng đài mTraffic sẽ cung cấp đến khách hàng những gói nội dung mang tính chất độc, lạ và thời sự<br />
                    Điều đặc biệt sử dụng dịch vụ mTraffic cho phép khách hàng dù ở bất cứ nơi đâu đều có thể truy cập để cập nhật liên tục các điểm nóng giao thông trong thành phố và khu vực lân cận cũng như các vấn đề giao thông khác một cách thuận tiện và dễ dàng<br />
                    <br />
                    <strong>Điều kiện sử dụng</strong><br />
                    Khách hàng là thuê bao di động mạng VinaPhone trả trước, trả sau đang hoặt động 2 chiều<br />
                    <strong>Đăng ký và hủy dịch vụ</strong><br />
                    <em><strong>Đăng ký dịch vụ</strong></em><br />
                    <br />
                    - Khách hàng phải đăng ký mới sử dụng được dịch vụ.<br />
                    - Khách hàng soạn: DK_mã gói dịch vụ gửi 1546 để đăng ký dịch vụ. Cước thuê bao 5.000đồng/tuần/ 1 gói dịch vụ. Danh sách các mã gói dịch vụ gồm:<br />
                    + Điểm nóng giao thông: DK gửi 1546<br />
                    + Giao thông Hà Nội: DK HN gửi 1546<br />
                    + Giao thông Hồ Chí Minh: DK HCM gửi 1546<br />
                    + Khám phá: DK KP gửi 1546<br />
                    + Luật giao thông: DK LGT gửi 1546<br />
                    + Tư vấn: DK TV gửi 1546<br />
                    + Hình sự: DK HS gửi 1546<br />
                    <br />
                    <strong>Hủy dịch vụ</strong><br />
                    - Khách hàng soạn: HUY_mã gói dịch vụ gửi 1546.<br />
                    <br />
                    <strong>Cách sử dụng</strong><br />
                    - <strong>Sử dụng dịch vụ qua SMS:</strong> Khách hàng soạn tin nhắn gửi đến 1546 theo các cú pháp sau:<br />
                    <br />
                    <table border="1" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    <strong>STT</strong></p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    <strong>Nội Dung</strong></p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    <strong>Cú pháp nhắn tin</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    1</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Điểm nóng giao thông</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    2</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Giao thông Hà Nội</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK HN</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    3</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Giao thông Hồ Chí Minh</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK HCM</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    4</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Khám phá</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK KP</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    5</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Luật giao thông</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK LGT</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    6</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Tư Vấn</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK TV</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    7</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Hình Sự</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK HS</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="76" valign="top">
                                <p align="center">
                                    8</p>
                            </td>
                            <td width="661" valign="top">
                                <p align="center">
                                    Trợ giúp</p>
                            </td>
                            <td width="452" valign="top">
                                <p align="center">
                                    DK TG</p>
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>
