<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Admin.Master" AutoEventWireup="true" CodeBehind="Ad_RP_Sub.aspx.cs" Inherits="MyAdmin.Admin_Report.Ad_RP_Sub" %>

<%@ Register Src="../Admin_Control/Admin_Paging.ascx" TagName="Admin_Paging" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph_Header" runat="server">
    <link href="../Calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.css" rel="stylesheet" type="text/css" />
    <script src="../Calendar/dhtmlgoodies_calendar/dhtmlgoodies_calendar.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cph_Tools" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph_ToolBox" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cph_Search" runat="server">
    <label>
        Từ ngày:</label>
    <input type="text" runat="server" id="tbx_FromDate" style="width: 70px;" />
    <input type="button" value="..." onclick="displayCalendar(document.getElementById('<%=tbx_FromDate.ClientID %>'),'dd/mm/yyyy',this)" />
    <label>
        Đến ngày:</label>
    <input type="text" runat="server" id="tbx_ToDate" style="width: 70px;" />
    <input type="button" value="..." onclick="displayCalendar(document.getElementById('<%=tbx_ToDate.ClientID %>'),'dd/mm/yyyy',this)" />
    <asp:Button runat="server" ID="btn_Search" Text="Tìm kiếm" OnClick="btn_Search_Click" />
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cph_Content" runat="server">
    <table border="0" cellpadding="5" cellspacing="0" style="margin-right: 5px; text-align: center; vertical-align: text-top; border-style: solid none none solid; border-width: 1px; border-color: #000000; font-family: Times New Roman; font-size: 12px; min-width:100%;">
        <tr style="background-color: #DADADA; font-weight: bold;">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="2">STT</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;" rowspan="2">Ngày</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; " rowspan="2">Dịch vụ</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; " rowspan="2">Đối tác</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;font-size:14px; color:Red;" colspan="5">Đăng ký</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; font-size:14px;  color:Red;" colspan="5">Hủy</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; font-size:14px; color:Red; " colspan="4">Gia hạn</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000; font-size:14px; color:Red; " colspan="3">Doanh thu</td>
        </tr>
        <tr style="background-color: #DADADA; font-weight: bold;">
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Mới</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">SMS</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">WAP</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Other</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Mới</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tự hủy</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">MaxRetry</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Other</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Thành Công</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Thất bại</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tỷ lệ (%)</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Đăng ký</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Gia hạn</td>
            <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;">Tổng tiền</td>
        </tr>
           <asp:Repeater runat="server" ID="rpt_Data">
                <ItemTemplate>
                <tr style="background-color:#ffffff;">
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#(Container.ItemIndex + PageIndex).ToString()%></td>
                    <%#this.GetReport_HTML((DateTime)Eval("ReportDay"))%>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%# Eval("ServiceName").ToString()%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%# Eval("PartnerName").ToString()%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubNew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubSMS")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubWAP")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubOther")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubNew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubSelf")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubExtend")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubOther")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewSuccess")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewFail")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewRate")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleReg")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleRenew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleReg") + (double)Eval("SaleRenew") ).ToString(MyUtility.MyConfig.IntFormat)%></td>
                </tr>
         </ItemTemplate>
                <AlternatingItemTemplate>
                 <tr style="background-color:#F1F1F1;">
                   <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#(Container.ItemIndex + PageIndex).ToString()%></td>
                    <%#this.GetReport_HTML((DateTime)Eval("ReportDay"))%>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%# Eval("ServiceName").ToString()%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%# Eval("PartnerName").ToString()%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubNew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubSMS")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubWAP")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SubOther")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubNew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubSelf")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubExtend")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("UnsubOther")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewTotal")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style : none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewSuccess")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewFail")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("RenewRate")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleReg")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleRenew")).ToString(MyUtility.MyConfig.IntFormat)%></td>
                    <td style="border-style: none solid solid none; border-width: 1px; border-color: #000000;"><%#((double)Eval("SaleReg") + (double)Eval("SaleRenew") ).ToString(MyUtility.MyConfig.IntFormat)%></td>
                </tr>
         </AlternatingItemTemplate>
            </asp:Repeater>
            <tr style="padding: 5px 0 5px 0; background-color: #E2E2E2; height: 30px;">
                <td style="border-style: none solid solid none; border-width: 1px;" colspan="21">
                    <uc1:Admin_Paging ID="Admin_Paging1" runat="server" />
                </td>
            </tr>
    </table>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cph_Javascript" runat="server">
</asp:Content>
