<div class="content fl">
    <div class="detail_content fl">
        <div class="title_detail">
            <h1>{0}</h1>
        </div>
        <div class="newdetail">
            <div class="newdetail_in fl">
                <p>
                    Tên dịch vụ: <strong>{1}</strong><br />
                    Mô tả: {2}<br />
                    Cú pháp: <strong>{3}</strong> gửi <strong>1546</strong><br />
                    Giá: <strong>1,000 vnd/ngày/ 1 gói dịch vụ</strong><br />
                    <a href="{DNS}/page/{4}/{5}/confirm.html">{6}</a>
                </p>
            </div>
            <div class="package_other fl">
                <div class="title_package_other fl">
                    <h3>
                        Gói dịch vụ khác</h3>
                </div>
              {7}
            </div>
        </div>
    </div>
</div>