<div class="service fl">
    <div class="title_service">
        <h2>
            <a href="{DNS}/page/{0}/detail.html" class="link_name_service">{1}</a></h2>
    </div>
    <div class="img_service fl">
        <a href="{DNS}/page/{0}/detail.html">
            <img src="{2}" alt="{1}" title="{1}" /></a>
    </div>
    <div class="info_service">
        <p>
            Cú pháp: <strong class="red">{3}</strong> gửi <strong class="red">1546</strong></p>
        <p>
            Cước phí: <strong>1.000 đ/ngày</strong></p>
        <p>
            Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
        <p>
            <a href="{DNS}/page/{0}/{4}/confirm.html">{5}</a></p>
    </div>
</div>
