<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EmailReport_EmailAccount" value="reports@hbcom.vn"/>
    <add key="EmailReport_Password" value="dasdasd35435342sedsswa"/>
    <add key="EmailReport_EmailReceiveList" value="linhnc@hbcom.vn" />
    <add key="EmailReport_Subject" value="THỐNG KÊ DỊCH VỤ MTRAFFIC NGÀY " />
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="SQLConnecton_MTraffic" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueaEcIvw1mG3NdOH7FkuZFKmhEQGKb1+Nyhq+dDPff3tAIGStIO47hjoVnOM59Ae9skUPVB5u0QI5DTT9ypUPlBhLNCLhszyiaEyzXwatcqx/DU1yRgF0kb0b5F3D+JmRyYKHkIdt8BXtVoWLnVtRf2Errh6A4I3Y2lMBwy4P1tgXreq0KWHNDiE8IZAT/3qLcw=" />
  </connectionStrings>
</configuration>