<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mtraffic</title>
<meta name="viewport" content="width=device-width; target-densitydpi=device-dpi; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="ROBOTS" content="Metaflow" />
<meta name="robots" content="index, follow, all" />
<meta name="AUTHOR" content="" />
<meta name="revisit-after" content="1 days" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39051244-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<!--main-->
	<div id="container">
    	<div id="main">
        	<div id="main_in">
            <div id="header">
                <div class="topbar fl">
                    <div class="logo fl">
                        <a href="http://vinaphone.com.vn"><img src="images/vinaphone.png" alt="" title="" /></a>
                    </div>
                    <div class="phone fr">
                        <p><img src="images/icon_phone.png" alt="" title="" />0912400398</p>
                    </div>
                </div>
                
                <div class="banner fl">
                    <img src="images/banner.gif" alt="" title="" />
                </div>
                
                <div class="navigation fl">
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="dich-vu.html" rel="nofollow">Dịch vụ</a></li>
                        <li><a href="huong-dan.html" rel="nofollow">Hướng dẫn</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            
            <!--home-->
            <div id="home">
                <div class="list_service fl">
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="giao-thong-ha-noi.html" class="link_name_service">Giao thông Hà Nội</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="giao-thong-ha-noi.html"><img src="images/gt_hanoi.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK HN</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Đăng ký dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="giao-thong-hcm.html" class="link_name_service">Giao thông Hồ Chí Minh</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="giao-thong-hcm.html"><img src="images/gt_hcm.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK HCM</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Hủy dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="diem-nong-giao-thong.html" class="link_name_service">Điểm nóng giao thông</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="diem-nong-giao-thong.html"><img src="images/diemnong_gt.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Đăng ký dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="kham-pha.html" class="link_name_service">Khám phá</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="kham-pha.html"><img src="images/khampha.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK KP</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Hủy dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="luat-giao-thong.html" class="link_name_service">Luật giao thông</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="luat-giao-thong.html"><img src="images/luat_gt.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK LGT</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Đăng ký dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="tu-van.html" class="link_name_service">Tư vấn</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="tu-van.html"><img src="images/tuvan.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK TV</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Hủy dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="hinh-su.html" class="link_name_service">Hình sự</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="hinh-su.html"><img src="images/hinhsu.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK HS</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>5.000 đ/tuần</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Đăng ký dịch vụ</a></p>
                        </div>
                    </div>
                    <div class="service fl">
                        <div class="title_service">
                            <h2><a href="tro-giup.html" class="link_name_service">Trợ giúp</a></h2>
                        </div>				
                        <div class="img_service fl">
                            <a href="tro-giup.html"><img src="images/trogiup.jpg" alt="" title="" /></a>
                        </div>
                        <div class="info_service">
                            <p>Cú pháp: <strong class="red">DK TG</strong> gửi <strong class="red">1546</strong></p>
                            <p>Cước phí: <strong>Miễn phí</strong></p>
                            <p>Khuyến mãi: Miễn phí 7 ngày sử dụng khi đăng ký lần đầu tiên</p>
                            <p><a href="#">Hủy dịch vụ</a></p>
                        </div>
                    </div>
                    
                </div>
                
                <div class="register_package fl">
                    <div class="register_package_in">
                        <div class="box_package fl">
                            <div class="title_register">
                                <h3>Đăng ký gói cước</h3>
                            </div>
                            <div class="image_package fl">
                                <img src="images/goi-cuoc.jpg" alt="" title="" />
                            </div>
        <div class="note fl">
                                <p>Miễn phí sử dụng <span class="red">1 tuần</span> khi đăng ký lần đầu tiên. mTraffic cổng thông tin giao thông của mọi người.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="clear"></div>
            
            <!--footer-->
            <div id="footer">
                <div class="copy_right fl">
                    <p>Copyright © 2013 by VinaPhone<br />All rights reserved</p>
                </div>
            </div>
            <div class="clear"></div>
            
        </div>
        </div>
    </div>
<!--end main-->    
</body>
</html>
