<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
    <!--Chay report tu ngay nay-->
    <add key="StartDate" value=""/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh/dxwXV21KlQWJrrHeMaKks32kE/k6zbki+NJyy4m38y1mRrGCpVwJnJGEfJJ+Z5LnlQo/wzvsA9nx4At+2IDfBPfg+pHGXxyuqeKc5e7t9i13RW6lmBXz4U9csmsYJppsyfWNFtBkkR9NDHKa6bfIlhCbtbDQPI6aux6Jxdj4ZA="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh/dxwXV21KlQWJrrHeMaKks32kE/k6zbki+NJyy4m38y1mRrGCpVwJnJGEfJJ+Z5LnlQo/wzvsA9nx4At+2IDfBPfg+pHGXxyuqeKc5e7t9i13RW6lmBXz4U9csmsYJppsyfWNFtBkkR9NDHKa6bfIlhCbtbDQPI6aux6Jxdj4ZA="/>

  </connectionStrings>
</configuration>