<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SleepSecond" value="1800"/>
    <!--Chay report tu ngay nay-->
    <add key="StartDate" value=""/>
  </appSettings>
  <connectionStrings>
    <!--Host-->
    <add name="ConnectionKey_Source" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueaEcIvw1mG3NdOH7FkuZFKmhEQGKb1+Nyhq+dDPff3tAIGStIO47hjoVnOM59Ae9skUPVB5u0QI5DTT9ypUPlBhLNCLhszyiaEyzXwatcqx/DU1yRgF0kb0b5F3D+JmRyYKHkIdt8BXtVoWLnVtRf2Errh6A4I3Y2lMBwy4P1tgXreq0KWHNDiE8IZAT/3qLcw="/>
    <add name="ConnectionKey_Des" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueaEcIvw1mG3NdOH7FkuZFKmhEQGKb1+Nyhq+dDPff3tAIGStIO47hjoVnOM59Ae9skUPVB5u0QI5DTT9ypUPlBhLNCLhszyiaEyzXwatcqx/DU1yRgF0kb0b5F3D+JmRyYKHkIdt8BXtVoWLnVtRf2Errh6A4I3Y2lMBwy4P1tgXreq0KWHNDiE8IZAT/3qLcw="/>

  </connectionStrings>
</configuration>