<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
     <!-- Upload Image config default !-->
    <add key="UF_GeneralFN" value="false"/>
    <add key="UF_Path" value="~/u/"/>
    <add key="UF_Extension" value=".txt|.text"/>
    <add key="UF_MaxSize" value="10240"/>
    <!-- Upload Image config default !-->
    <add key="Huy_UF_GeneralFN" value="false"/>
    <add key="Huy_UF_Path" value="~/u/"/>
    <add key="Huy_UF_Extension" value=".txt|.text"/>
    <add key="Huy_UF_MaxSize" value="10240"/>
  
    <add key="LicenseKey" value="oS/OuBhRatlgQFIjps25BxMp0AI0K8HNIksCXhqoAsKOpb+6I1dPqRamyg/MfbkJ3zCHGNqiHSGbaKvhF/e7Vw=="/>
    <add key="Domain" value="http://localhost:8082/MTraffic_CCare"/>
  
    <add key="SSOLink" value="http://thethao.vinaphone.com.vn:8080/SSO"/>
    <add key="SSOLink_Private" value="http://10.211.0.250:8080"/>
    
  </appSettings>
  <connectionStrings>
    <remove name="strConnection"/>
    <!--<add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzq782IgMILwvSQnNMDPHEUPfXOxArOcDdbPSipDHMeZh/dxwXV21KlQWJrrHeMaKks32kE/k6zbki+NJyy4m38y1mRrGCpVwJnJGEfJJ+Z5LnlQo/wzvsA9nx4At+2IDfBPfg+pHGXxyuqeKc5e7t9i13RW6lmBXz4U9csmsYJppsyfWNFtBkkR9NDHKa6bfIlhCbtbDQPI6aux6Jxdj4ZA="/>-->
    <add name="MySQLConnection_Gateway" providerName="MySql.Data.MySqlClient" connectionString="ZSAZhMA6Ng1D9KgZ3l7HIFnfdOttcjLscy1XE/zRSCfBVui2aeaDbg+oXela3iFAtQm1OyjljpCrbT9d74utfg=="/>
    <!--Host-->
    <add name="strConnection" providerName="System.Data.SqlClient" connectionString="/d9t1bxPbWXyvgdypXTUzsAQzY38fhVu0pGZGnv/ueaEcIvw1mG3NdOH7FkuZFKmhEQGKb1+Nyhq+dDPff3tAIGStIO47hjoVnOM59Ae9skUPVB5u0QI5DTT9ypUPlBhLNCLhszyiaEyzXwatcqx/DU1yRgF0kb0b5F3D+JmRyYKHkIdt8BXtVoWLnVtRf2Errh6A4I3Y2lMBwy4P1tgXreq0KWHNDiE8IZAT/3qLcw="/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MTrafficSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8082/MTraffic_WebService/MTraffic.asmx"
        binding="basicHttpBinding" bindingConfiguration="MTrafficSoap"
        contract="WS_MTraffic.MTrafficSoap" name="MTrafficSoap" />
    </client>
  </system.serviceModel>

  <log4net debug="true">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Log" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger | %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LogFile/Error" />
      <datePattern value="'.'ddMMyyyy.vai" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %thread | %level | %logger  %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ErrorsFileAppender" />
    </root>
  </log4net>
</configuration>