<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MTrafficSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MTraffic_WS/MTraffic.asmx"
                binding="basicHttpBinding" bindingConfiguration="MTrafficSoap"
                contract="WS_MTraffic.MTrafficSoap" name="MTrafficSoap" />
        </client>
    </system.serviceModel>
</configuration>